
    body {
        
        margin: 0;

    }
    
    .container {
        padding: 40px;
        margin: 0 auto;
        max-width: 1800px;
        height: 500px;
    }
    
    #pokedex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
        padding-inline-start: 0;
    }
    
    .card {
        list-style: none;
        padding: 10px;
        background-color: #f4f4f4;
        color: #222;
      text-align: center;
    }
     
    .card-title {
        text-transform: capitalize;
        margin-bottom: 0px;
        font-size: 27px;
        font-weight: normal;
    }
    
    .card-subtitle {
        margin-top: 5px;
        color: #666;
        font-weight: lighter;
    }
    
    
    .card-image {
        height: 120px;
    }