
    body {
        
        margin: 0;

    }
    
    .container {
        position: relative;
        top: 200px;
        margin: 0 auto;
        max-width: 1800px;
        max-height: 75vh;
        overflow: scroll;
    }
    
    #pokedex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
        padding-inline-start: 0;
        

    }
    /* Cards style  */
    .card {
        list-style: none;
        padding: 10px;
        background-color: #d6d4d4de;
        color: #222;
      text-align: center;
    }
    
    .card:hover {
        background-color: #50514f;
    }
     
    .card-title {
        text-transform: capitalize;
        margin-bottom: 0px;
        font-size: 27px;
        font-weight: normal;
    }
    
    .card-subtitle {
        margin-top: 5px;
        color: #fa6603;
        font-weight: lighter;
    }

    
    
    .card-image {
        height: 100px;
    }
    /* button style  */
    #load-more {
        display: inline-block;
        background: red;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 200px;
        position: absolute;
        left: 45%;
        bottom: 1%;
        
    }

    /* Logo styled */

    #logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 200px;

    }