
    body {
        
        margin: 0;

    }
    
    .container {
        text-align: center;
        margin: 0 auto;
        max-width: 1800px;
        max-height: 70vh;
        overflow: scroll;
    }
    
    #pokedex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
        padding-inline-start: 0;
        

    }
    /* Cards style  */
    .card {
        list-style: none;
        padding: 10px;
        background-color: #f4f4f4;
        color: #222;
      text-align: center;
    }
     
    .card-title {
        text-transform: capitalize;
        margin-bottom: 0px;
        font-size: 27px;
        font-weight: normal;
    }
    
    .card-subtitle {
        margin-top: 5px;
        color: #666;
        font-weight: lighter;
    }
    
    
    .card-image {
        height: 120px;
    }
    /* button style  */
    #load-more {
        display: inline-block;
        background: red;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 200px;
        position: relative;
        left: 45%;
        bottom: 10%;
        
    }